.container nav:nth-child(2){
  display: none;
}
.content h1:not(:first-child),
.content h2:not(:first-child),
.content h3:not(:first-child),
.content h4:not(:first-child),
.content h5:not(:first-child),
.content h6:not(:first-child){
  /* margin-top: 40px; */
  /* color: #222324; */
}
.container > .title{
  font-weight: bold;
}
.container .nav .title{
  font-size: 30px;
  font-weight: 700;
}

/* .related{
  background-color: #f0f3f3;
    padding: 15px;
    border-top: 5px solid #d07d7d;
    margin-top: 35px;
} */
.related a {
  text-decoration: underline;
}

